/* ------------
----Fonts------
---------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*------------------------- 
common styles or utilities 
-------------------------*/

body {
    padding: 5px;
    margin-left: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

/*----------------------
  menu-bar style start
--------------------- */

.menu-bar {
    background-color: #562EFF;
    width: 100%;
    height: 94px;
    display: grid;
    align-items: center;


}

.menu-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 290px;
}

.favicon img {
    width: 41.04px;
    height: 52.3px;
}

.favicon-name {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    top: 45px;
    width: 54px;
    height: 36px;
    margin-left: 10px;
}

.menu-bar-title ul {
    display: inline-flex;
    margin-right: 36px;
    column-gap: 36px;
    float: left;
}

.menu-bar-title ul li {
    list-style: none;
    color: #FFFFFF;
}

.menu-bar-title img {
    width: 51px;
    height: 51px;
}

/*--------------------
 Menu-bar style end
---------------------- */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-bottom: 11px;
}

.section-title {
    color: #562EFF;
    margin-top: 3px;
}

hr {
    border: 2px solid #D1D1D1;
    border-radius: 5px;
}

/*----------------------- 
top player section style 
------------------------*/

.top-player {
    margin-bottom: 21px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* we can use this style too 
    grid-template-columns: 1fr 1fr 1fr; */
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
    line-height: 27px;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}




/* -----------------
   top blogs styles
   ----------------- */
.top-blogs {
    margin-top: 27px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    margin-top: 30px;
}

.blog {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    margin-left: 5px;
}

.thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 18px;
    line-break: auto;

}

.author-name {
    font-size: 16px;
    line-height: 24px;
    color: #9F9F9F;
}

.author-name a {
    text-decoration: none;
    font-size: 16px;
}

/*---------------------
 Latest Course styles
-----------------------*/

.section-title {
    margin-top: 23px;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    margin-top: 11px;
}

.course {
    width: 99%;
    height: 100%;
    box-shadow: 3px 3px gray;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.course .course-banner img {
    width: 224px;
    height: 104px;
}

.course-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    color: #1E1E1E;
}

.course-instructor a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #ED6B4F;
    text-decoration: none;
    margin-top: 7px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
}

.course-duration {
    background: #fcc0c0;
    border-radius: 10px;
}

.course-duration .fa-clock {
    color: #040404;
}


/*-----------------
 media queries
---------------- */

/*----------------
 mobile device
---------------- */

@media only screen and (max-width: 688px) {
    .menu-bar {
        background: #628E90;
        width: 100%;
    }

    .menu-info {
        margin: 0;
        width: 100%;
        justify-items: center;
        align-items: center;


    }

    .favicon img {
        height: 40px;
        width: 40px;
        margin-top: 5px;
        margin-left: 10px;

    }

    .favicon-name {
        display: none;
    }

    .menu-bar-title {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }

    .menu-bar-title ul {
        column-gap: 20px;
    }

    .menu-bar-title img {
        height: 30px;
        width: 30px;
        /* float: left; */
        margin-right: 10px;
        /* margin-top: 10px; */
    }

    body {
        margin: 5px;
        background: rgba(128, 128, 128, 0.208);
        /* background: transparent; */
    }

    .container {
        width: 100%;
        background-color: rgba(128, 128, 128, 0.236);
    }

    .section-title {
        text-align: center;
    }

    .top-player {
        width: 100%;
    }

    .players {
        background-color: #9F9F9F;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        border-radius: 15px;
    }

    .player {
        flex-direction: column;
    }

    hr {
        background: transparent;
    }

    /*-----------------------------------------------
    top blogs media queries for screen width max 688px
    ------------------------------------------------ */

    .blogs {
        display: grid;
        background-color: #9F9F9F;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        padding: 5px 0px;
        border-radius: 15px;
    }

    .blog {
        display: grid;
        width: 98%;
        box-shadow: 0px 5px #737375;
        border-radius: 15px;
    }

    .blog-info .author-name {
        color: white;
    }

    /*-----------------------------------------------
    latest courses media queries for screen width max 688px
    ------------------------------------------------ */

    .courses {
        display: flex;
        flex-direction: column;
        background-color: #9F9F9F;
        border-radius: 15px;
    }

    .course {
        width: 99%;
        display: grid;
        box-shadow: 0px 5px #737375;
        margin-top: 5px;

    }

    .course-detail {
        height: 100%;
    }

    .course-info {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        justify-items: center;

    }

    .course-duration-rating {
        color: #080707;
    }

    .course-duration {
        padding: 3px;
        word-spacing: 3px;
    }

    .course-duration-hour {
        color: black;
    }

}

/*-------------------
  for ipad screen
 ------------------ */

@media only screen and (min-width: 689px) and (max-width: 991px) {
    body {
        margin: 7px;
        background: rgba(255, 99, 71, 0.477);
    }

    .container {
        width: 97%;
        background-color: orange;
    }

    .players {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .courses {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}